.app__container__dark {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 41, 41);
  min-height: 100vh;
  transition: 150ms;
}
.app__container__light {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  transition: 150ms;
}
/* 
@media only screen and (max-width: 600px) {
  .app__container {
    align-items: center;
  }
} */
