p {
  margin: 0;
  padding: 0;
}

.userCard {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  width: fit-content;
  padding: 10px;
  border-radius: 2px;
  margin: 5px;
}
.inputData {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  place-items: center;
}
.inputData > input {
  display: flex;
  outline: none;
}
.inputBar {
  margin-block: 2px;
  padding-block: 5px;
  padding-inline: 3px;
  border-radius: 5px;
  outline: none;
  border: 1px solid lightgray;
}
.createBtn {
  background: rgb(104, 169, 255);
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  transition: 200ms ease-in-out;
}
.createBtn:hover {
  cursor: pointer;
  background: rgb(79, 155, 255);
  color: white;
}

.errorContainer {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: rgb(242, 242, 242);
  place-items: center;
}
.error {
  display: flex;
  flex-direction: column;
}
.error > p,
i {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}
.componentDelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e6e6e;
  color: white;
  width: 75px;
  height: 25px;
  border: none;
  border-radius: 5px;
  transition: 200ms ease-in-out;
}
.componentDelBtn:hover {
  cursor: pointer;
  background-color: #999999;
}
.userCard_buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
